@import '@zendeskgarden/css-bedrock';
@import '@zendeskgarden/css-buttons';
@import '@zendeskgarden/css-forms';
@import '@zendeskgarden/css-tags';
@import '@zendeskgarden/css-utilities';
@import '@zendeskgarden/css-grid';
@import '@zendeskgarden/css-pagination';
@import '@zendeskgarden/css-tables';
@import '@zendeskgarden/css-tooltips';
@import '@zendeskgarden/css-arrows';
@import '@zendeskgarden/css-callouts';

.c-txt__input{
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.advanced-options-wrapper{
  display: none;
  overflow: hidden;
}
.results-wrapper{
  table{
    table-layout: auto;
    tr{
      .c-tooltip{
        position: absolute;
        left: 0;
        bottom: 15px;
        z-index: 1;
        display: none;
      }
      &:hover{
        .c-tooltip{
          display: block;
        }
      }
    }
  }
}

