@import '@zendeskgarden/css-bedrock';
@import '@zendeskgarden/css-buttons/dist/index.css';
@import '@zendeskgarden/css-forms/dist/index.css';
@import '@zendeskgarden/css-tags/dist/index.css';
@import '@zendeskgarden/css-utilities/dist/index.css';
@import '@zendeskgarden/css-grid/dist/index.css';
@import '@zendeskgarden/css-pagination/dist/index.css';
@import '@zendeskgarden/css-tables/dist/index.css';
@import '@zendeskgarden/css-tooltips/dist/index.css';
@import '@zendeskgarden/css-arrows/dist/index.css';
@import '@zendeskgarden/css-callouts/dist/index.css';
@import '@zendeskgarden/css-menus/dist/index.css';

.loader {
  width: 50px;
}
.c-txt__input {
  align-items: center;
  padding-bottom: 0;
  padding-top: 0;
}
.c-chk__label--toggle {
  height: 20px;
}
.advanced-options-wrapper,
.ticket-only {
  display: none;
}
.c-menu {
  z-index: 1;
}
.results-wrapper {
  table {
    table-layout: auto;
    tr {
      .c-tooltip {
        display: none;
        font-size: 12px;
        left: 120px;
        padding: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 200px;
        z-index: 1;
      }
      &:hover {
        .c-tooltip {
          display: block;
        }
      }
      &:last-child {
        .c-tooltip {
          bottom: 0;
          top: auto;
          transform: none;
          &.c-arrow--l:before, &.c-arrow--l:after {
            bottom: 15px;
            top: auto;
          }
        }
      }
    }
  }
}
